html {
  height: 100%;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html[data-theme="dark"] .ql-picker-label {
  color: white;
}

html[data-theme="dark"] .ql-stroke {
  stroke: white;
}

html[data-theme="dark"] .ql-fill {
  fill: white;
}

html[data-theme="dark"] .ql-blank::before {
  color: var(--chakra-colors-gray-500);
}

.ql-editor[contenteditable="false"] {
  padding: 0;
}

tbody tr:last-child td {
  border-bottom: 0;
}

html[data-theme="dark"] [aria-valuenow] {
  background-color: var(--chakra-colors-brand-300) !important;
}

.ql-container {
  font-size: inherit !important;
}

#react-select-3-listbox {
  z-index: 9999;
}
