html {
  height: 100%;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.ql-editor[contenteditable="false"] {
  padding: 0;
}

tbody tr:last-child td {
  border-bottom: 0;
}
